/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply tracking-tightest;
}

body {
  min-width: 375px;
  user-select: none;
}

.main-cta-shadow {
  box-shadow: 6px 10px 0px #101010;
}

.negative-cta-shadow {
  box-shadow: 6px 10px 0px #ffffff;
}

h3 {
  line-height: 130%;
}

details summary img {
  transform: rotate(0deg);
  transition: transform 0.5s;
}

details[open] summary img {
  transform: rotate(180deg);
  transition: transform 0.5s;
}
