/* src/styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply tracking-tightest;
}

body {
  min-width: 375px;
}

.main-cta-shadow {
  box-shadow: 6px 10px 0px #101010;
}

.negative-cta-shadow {
  box-shadow: 6px 10px 0px #ffffff;
}

h3 {
  line-height: 130%;
}
